<% content_for :banner do %>
  <%= render :partial => 'services/banner' %>
<% end %>
<div class="main_with_side full_20_wrap">
  <h2>Bentar Services</h2>
  <p>Over the years, Bentar has forged long-term, trusting relationships with a diverse group of repeat clients who have come to rely on the company for such services as:</p>
  <ul class="bullet_list">
    <li>Pre-Construction Services</li>
    <li>Conceptual Budgets</li>
    <li>Design</li>
    <li>Due Diligence</li>
    <li>Site Analysis</li>
    <li>Feasibility Studies</li>
    <li>Building & Zoning Applications</li>
    <li>Preliminary Design Studies</li>
    <li>Permit & Zoning Applications</li>
    <li>Design Build</li>
    <li>Construction Management</li>
    <li>General Contracting</li>
  </ul>
  <h2>Early Involvement</h2>
  
  <p>By including Bentar Development, at the beginning of a project, clients benefit from the company’s expertise on site selection, local infrastructure, due diligence, municipal codes, schedule, building material and systems evaluation. Early involvement also allows Bentar to propose cost-saving alternatives that facilitate operating efficiency and future expansion.</p>
  
  <h2>Team Management</h2>
  
  <p>Every construction project is a well-orchestrated collaboration between diverse specialists.  Through on-going communication, Bentar carefully coordinates every step of the process with its clients, architects, engineers, subcontractors, material suppliers, governing authorities and other team members.</p>
  
  <h2>Cost Control</h2>
  
  <p>Bentar Development, maintains strict budget control through its collective purchasing power, intimate knowledge of the supplier and subcontractor marketplace and an adherence to cost-discipline scheduling and purchasing.</p>
  
  <h2>Building Trust With Each Project</h2>
  
  <p>Bentar understands how important trust is in a contractor-client relationship. Clients rely on the company to serve on their behalf, ethically and responsibly.  Bentar has a successful track record of more than 15 years with integrity, expertise and customer satisfaction.  The company’s commitment to this is proven by the fact that returning clients account for a majority of business every year.  Clients value the relationship built with the Bentar team, and recognize the company’s commitment to quality, budget and schedule.  Clients who work with Bentar for one project return for their future construction needs.</p>
</div>
<% content_for :sidebar do %>
  <%= render :partial => 'services/sidebar' %>
<% end %>
