<div class="index_about_us_wrap">
  <h3>About Bentar Development</h3>
  <p>The first thing you will notice when working with Bentar Development is our unwavering
    commitment to you and your project.  Client satisfaction is maintained through our 
    elevated standards for overall quality, responsiveness, and fiscal responsibility.</p><br />
  <p>Over the years, our award-winning company continues to build trusted relationships with clients, earning their respect, friendship, and repeat business.  Licensed in the State of Nevada, Bentar
    has an unlimited contract limit.  We have a unique formula for coordinating clients, architects, engineers, subcontractors, material suppliers, governing authorities, and other team members.<p><br />
  <div class="signature">
    <p>
      <%= link_to "Learn more about Bentar Development here...", about_path %>
    </p>
  </div>
  
</div>