<div class="projects_scroller_wrap grid_12 alpha omega">
  <div class="project_inner_wrap">
    <div class="project_scroll_image_wrap">
      <%= image_tag('project_scroll1.jpeg', :width => 280, :height => 153) %>
    </div>
    <div class="project_scroll_image_wrap">
      <%= image_tag('project_scroll2.jpeg', :width => 280, :height => 153) %>
    </div>
    <div class="project_scroll_image_wrap">
      <%= image_tag('project_scroll3.jpeg', :width => 280, :height => 153) %>
    </div>
  </div>
</div>