<% content_for :banner do %>
  <%= render :partial => 'home/about_banner' %>
<% end %>
<div class="main_with_side full_20_wrap">
  <h2>About Bentar Development</h2>
  <p>Founded in 1991, Bentar Development, Inc. is a well-established 
  and respected design/build general contractor and professional
  manager of construction services.  The award-winning company is
  owned by long-time Nevada resident Amador “Chi Chi” Bengochea.
  </p>

  <p>Bentar’s mission is simple:  Dedication, growth, diversity and in-
  comparable construction quality, and unwavering commitment
  to our client’s satisfaction.</p>

  <p>Bentar is licensed and bonded in the State of Nevada with an
  unlimited contract limit and prides itself on aggressive schedules
  that are unmatched by other contractors in the local industry.</p>

  <p>The company delivers a wide range of commercial, industrial,
  retail, casino, office and recreational projects in the Las Vegas
  market.  A sampling of some of the companies high-profile projects
  include:  70-plus Terrible Herbst service stations, three Terrible’s
  hotel/casino properties in Southern Nevada, the Primm Valley
  Resort Travel Center, which is the largest automobile service
  station with 30 fuel nozzles in the west, the new Tangerine at
  Treasure Island, the Revolution Bar at the The Mirage, Red Rock
  Casino Resort Bowling Alley, Montana Steakhouses, The Lodges, 
  more than a dozen Del Taco outlets, other restaurants, retail, 
  office and schools.</p>
  
  <h2>Bentar’s Philosophy</h2>
  <p>A construction project is an artful combination of planning, products,
  people and services all of which must come together at the right time
  and price to meet the client’s needs.  To achieve this goal, Bentar
  Development, Inc. advocates:</p>
  <ul class="bullet_list">
    <li>Early involvement on projects to assist with the site selection and due diligence</li>
    <li>Ongoing communication between client, contractor, architect and engineers</li>
    <li>Job-site teamwork</li>
    <li>Meticulous budget and schedule control</li>
    <li>Sensitivity to owner’s needs</li>
  </ul>
  
  <h2>An Award-Winning Construction Company</h2>
  <p>
    Bentar is the proud recipient of many professional awards and 
    recognition by the industry and media, including:
  </p>
  
  <ul class="bullet_list">
    <li>Bentar was inducted as the 2011 Minority Business Hall of Fame</li>
    <li>Chi Chi Bengochea, owner of Bentar Development, Inc. named “Small Business Person of the Year” by the Small Business Administration (SBA).</li>
    <li>“Annual Contractor of the Year”  Latin Chamber of Commerce</li>
    <li>“Ten Best Contractors”  List by the Nevada Business Journal</li>
    <li>Builder/Architect Magazine, Southern Nevada Edition, September 2004 cover story “Bengochea Brothers’ General Contracting Firm Impacting Las Vegas Commercial Building Scene”</li>
  </ul>
  <h2>Bentar Gives Back to the Las Vegas Community</h2>
  <p>Bentar Development, Inc. is committed to giving back to the community where we work, live and care for our families.  Over the years, the company has contributed its time, resources and dollars to numerous civic and charitable projects, including:  Christmas In April Project, Nevada Cancer Institute, Bishop Gorman Alumni Association, Capital Campaign for Bishop Gorman New School Campus, the Arturo Cambeiro Senior Center operated by the Latin Chamber of Commerce, the Muscular Dystrophy Association (MDA), and Youth Sports for baseball, soccer and tennis, among many others.</p>
</div>
<% content_for :sidebar do %>
  <%= render :partial => 'home/about_sidebar' %>
<% end %>