<% content_for :banner do %>
  <%= render :partial => 'home/convenience_banner' %>
<% end %>
<div class="main_with_side full_20_wrap">
  <h2>Our Convenience Stores, Car Washes &#38; Lubes</h2>
	<h3>Las Vegas Valley Locations</h3>
	<div class="left_list">
  	<ul class="cstore_bullet_list">
			<li>TERRIBLE HERBST AM/PM<br />I-95 &#38; SUNSET ROAD</li>
			<li>TERRIBLE HERBST AM/PM<br />SPENCER &#38; SUNSET</li>
			<li>TERRIBLE HERBST AM/PM<br />CRAIG ROAD
			<li>TERRIBLE HERBST AM/PM<br />LV BLVD &#38; BLUE DIAMOND</li>
			<li>TERRIBLE HERBST AM/PM<br />EASTERN &#38; WARM SPRINGS</li>
			<li>TERRIBLE HERBST AM/PM &#38; <br />SELF SERVE WASH TORREY PINES</li>
			<li>TERRIBLE HERBST AM/PM<br />DECATUR &#38; SPRING MNTN</li>
			<li>TERRIBLE HERBST AM/PM, CARWASH<br /> &#38; LUBE RAMPART BOULEVARD</li>
			<li>TERRIBLE HERBST AM/PM<br />EASTERN &#38; WARM SPRINGS</li>
			<li>TERRIBLE HERBST AM/PM ADDITION<br />FLAMINGO &#38; ARVILLE</li>
			<li>TERRIBLE HERBST AM/PM, CARWASH<br /> &#38; LUBE BUFFALO &#38; CHEYENNE</li>
			<li>TERRIBLE HERBST AM/PM, CARWASH<br /> &#38; LUBE PECOS &#38; WIGWAM</li>
			<li>TERRIBLE HERBST AM/PM, CARWASH<br />  &#38; LUBE NELLIS BOULEVARD</li>
			<li>TERRIBLE HERBST AM/PM<br />CRAIG &#38; CAMINO EL NORTE</li>
			<li>TERRIBLE HERBST CHEVRON, LUBE<br />BLUE DIAMOND &#38; INDUSTRIAL</li>
			<li>TERRIBLE HERBST CHEVRON<br />TROPICANA &#38; RAINBOW</li>
			<li>TERRIBLE HERBST CHEVRON<br />LAKE MEAD &#38; TENAYA</li>
			<li>TERRIBLE HERBST CHEVRON, CARWASH<br />PECOS &#38; WINDMILL</li>
			<li>TERRIBLE’S MARKET<br />HORIZON RIDGE</li>
			<li>TERRIBLE HERST AM/PM<br />RUSSELL &#38; POLARIS</li>
			<li>MCDONALD’S CHEVRON<br />SAHARA &#38; MARYLAND PARKWAY</li>
			<li>GRUMPY’S CONVENIENCE STORE<br />CHARLESTON &#38; DURANGO</li>
			<li>FASTY’S CONVENIENCE STORE<br />DECATUR &#38; LAKEMEAD</li>
			<li>SPLASH ‘N GO CONVENIENCE STORE</li>
			<li>SMART MART CONVENIENCE STORE</li>
			<li>AM/PM CONVENIENCE STORE &#38; CARWASH<br />RUSSELL ROAD &#38; MNTN VISTA</li>
		</ul>
		<h3>Other Nevada Locations</h3>
		<ul class="cstore_bullet_list .left_list">
			<li>LOVES TRAVEL STORE TRUCK STOP<br />US-93 AND INTERSTATE 15 APEX EXIT</li>
			<li>PRIMM VALLEY TRAVEL CENTER &#38; 15 DISPENSER CHEVRON<br />PRIMM, NEVADA</li>
			<li>TERRIBLE HERBST AM/PM<br /> MESQUITE, NEVADA</li>
			<li>TERRIBLE HERBST AM/PM<br /> LAUGHLIN, NEVADA</li>
			<li>HORIZON MARKETPLACE<br />PAHRUMP NV</li>
			<li>TERRIBLE HERBST CHEVRON @ TERRIBLE’S TOWN<br />PAHRUMP, NEVADA</li>
			<li>TERRBLE HERBST CHEVRON @ TERRIBLE’S LAKESIDE RESORTn<br />PAHRUMP, NEVADA</li>
	  </ul>
	</div>
	<div class="right_list">
		<ul class="cstore_bullet_list">
			<li>AM/PM CONVENIENCE STORE &#38; CARWASH<br />CRAIG ROAD &#38; RAINBOW BLVD</li>
			<li>AM/PM CONVENIENCE STORE<br />LAMB &#38; OWENS</li>
			<li>AM/PM CARWASH &#38; LUBE<br />RUSSELL &#38; RAINBOW</li>
			<li>AM/PM CONVENIENCE STORE<br />CRAIG ROAD &#38; LAMB BLVD</li>
			<li>AM/PM CONVENIENCE STORE &#38; CARWASH<br />DECATUR &#38; HACIENDA</li>
			<li>AM/PM TRUCK STOP<br />LAS VEGAS BLVD &#38; ST. ROSE</li>
			<li>GRUMPY’S EXXON STATION<br />FLAMINGO &#38; SWENSON</li>
			<li>STOP &#38; SHOP 6 EXXON<br />TENAYA</li>
			<li>TEXACO CARWASH<br />ANN ROAD</li>
			<li>TEXACO/POPEYE’S CHICKEN</li>
			<li>TEXACO CONVENIENCE STORE<br />MARYLAND AND PYLE</li>
			<li>CHEVRON CONVENIENCE STORE<br />JONES AND SPRING MNTN/ DESIGN BUILD</li>
			<li>EXXON CONVENIENCE STORE<br />PACIFIC &#38; MISSION</li>
			<li>ARCO STORE ADDITION &#38; CARWASH<br />BONANZA &#38; MLK</li>
			<li>ARCO AM/PM STATION<br />TROPICANA &#38; FORT APACHE</li>
			<li>ARCO AM/PM STATION<br />JONES BLVD.  &#38;  WARM SPRINGS ROAD</li>
			<li>ARCO AM/PM @ THE M-RESORT &#38; CASINO<br />ST. ROSE PARKWAY</li>
			<li>SPANISH HILLS C-STORE &#38; TAVERN</li>
			<li>CHEVRON-A&#38;W CO-BRAND<br />LAKE MEAD AND LOSEE ROAD</li>
			<li>FILLS C-STORE AND CARWASH<br />DURANGO AND ARBY</li>
			<li>FILLS C-STORE AND CARWASH<br />RAINBOW AND BADURA</li>
			<li>FILLS C-STORE AND CARWASH<br />BLUE DIAMOND AND VALLEY VIEW</li>
			<li>FILLS C-STORE AND CARWASH<br />SILVERADO RANCH AND BERMUDA</li>
			<li>VONS FUEL ISLAND  AND C-STORE<br />MARYLAND &#38; TWAIN</li>
			<li>PIT STOP CHEVRON STATION<br />STEPHANIE AND HORIZON RIDGE</li>
			<li>TROP STOP 12 DISPENSER CANOPY<br />AND C STORE ADDITION</li>
		</ul>
		<h3>California Locations</h3>
		<ul class="cstore_bullet_list">
			<li>TERRIBLE HERBST AM/PM<br />BARSTOW, CALIFORNIA</li>
		</ul>
		<h3>Arizona Locations</h3>
		<ul class="cstore_bullet_list">
			<li>TERRIBLE HERBST TEXACO, CARWASH, SELF SERVE WASH &#38; LUBE<br/>BULLHEAD CITY, ARIZONA</li>
			<li>TERRIBLE HERBST AM/PM<br /> KINGMAN, ARIZONA</li>
			<li>TERRIBLE HERBST AM/PM<br />PARKER, ARIZONA</li>
		</ul>
	</div>		  
</div>
<% content_for :sidebar do %>
  <%= render :partial => 'home/convenience_sidebar' %>
<% end %>