<% content_for :banner do %>
  <%= render :partial => 'home/convenience_banner' %>
<% end %>
<div class="main_with_side full_20_wrap">
  <h2>Our Convenience Stores, Car Washes & Lubes</h2>
		<h3>Las Vegas Locations</h3>
  <ul class="bullet_list">
		<li>TERRIBLE HERBST AM/PM<br />I-95 & SUNSET ROAD</li>
		<li>TERRIBLE HERBST AM/PM<br />SPENCER & SUNSET</li>
		<li>TERRIBLE HERBST AM/PM<br />CRAIG ROAD
		<li>TERRIBLE HERBST AM/PM<br />LAS VEGAS BLVD & BLUE DIAMOND</li>
		<li>TERRIBLE HERBST AM/PM<br />EASTERN & WARM SPRINGS</li>
		<li>TERRIBLE HERBST AM/PM & SELF SERVE WASH<br />TORREY PINES AVENUE</li>
		<li>TERRIBLE HERBST AM/PM<br />DECATUR & SPRING MOUNTAIN</li>
		<li>TERRIBLE HERBST AM/PM, CARWASH, & LUBE<br />RAMPART BOULEVARD</li>
		<li>TERRIBLE HERBST AM/PM<br />EASTERN & WARM SPRINGS</li>
		<li>TERRIBLE HERBST AM/PM ADDITION<br />FLAMINGO & ARVILLE</li>
		<li>TERRIBLE HERBST AM/PM, CARWASH & LUBE<br />BUFFALO & CHEYENNE</li>
		<li>TERRIBLE HERBST AM/PM, CARWASH & LUBE<br />PECOS & WIGWAM</li>
		<li>TERRIBLE HERBST AM/PM, CARWASH, WASH, LUBE<br />NELLIS BOULEVARD</li>
		<li>TERRIBLE HERBST AM/PM<br />CRAIG & CAMINO EL NORTE</li>
		<li>TERRIBLE HERBST CHEVRON, LUBE<br />BLUE DIAMOND & INDUSTRIAL</li>
		<li>TERRIBLE HERBST CHEVRON<br />TROPICANA & RAINBOW</li>
		<li>TERRIBLE HERBST CHEVRON<br />LAKE MEAD & TENAYA</li>
		<li>TERRIBLE HERBST CHEVRON, CARWASH<br />PECOS & WINDMILL</li>
		<li>TERRIBLE’S MARKET<br />HORIZON RIDGE</li>
		<li>TERRIBLE HERST AM/PM<br />RUSSELL & POLARIS</li>
		<li>MCDONALD’S CHEVRON<br />SAHARA & MARYLAND PARKWAY</li>
		<li>GRUMPY’S CONVENIENCE STORE<br />CHARLESTON & DURANGO</li>
		<li>FASTY’S CONVENIENCE STORE<br />DECATUR & LAKEMEAD</li>
		<li>SPLASH ‘N GO CONVENIENCE STORE</li>
		<li>SMART MART CONVENIENCE STORE</li>
		<li>AM/PM CONVENIENCE STORE & CARWASH<br />RUSSELL ROAD & MOUNTAIN VISTA</li>
		<li>AM/PM CONVENIENCE STORE& CARWASH<br />CRAIG ROAD & RAINBOW BLVD</li>
		<li>AM/PM CONVENIENCE STORE<br />LAMB & OWENS</li>
		<li>AM/PM CARWASH & LUBE<br />RUSSELL & RAINBOW</li>
		<li>AM/PM CONVENIENCE STORE<br />CRAIG ROAD & LAMB BLVD</li>
		<li>AM/PM CONVENIENCE STORE & CARWASH<br />DECATUR & HACIENDA</li>
		<li>AM/PM TRUCK STOP<br />LAS VEGAS BLVD & ST. ROSE</li>
		<li>GRUMPY’S EXXON STATION<br />FLAMINGO & SWENSON</li>
		<li>STOP & SHOP 6 EXXON<br />TENAYA</li>
		<li>TEXACO CARWASH<br />ANN ROAD</li>
		<li>TEXACO/POPEYE’S CHICKEN</li>
		<li>TEXACO CONVENIENCE STORE<br />MARYLAND AND PYLE</li>
		<li>CHEVRON CONVENIENCE STORE<br />JONES AND SPRING MOUNTAIN/ DESIGN BUILD</li>
		<li>EXXON CONVENIENCE STORE<br />PACIFIC & MISSION</li>
		<li>ARCO STORE ADDITION & CARWASH<br />BONANZA & MLK</li>
		<li>ARCO AM/PM STATION<br />TROPICANA & FORT APACHE</li>
		<li>ARCO AM/PM STATION<br />JONES BLVD. AND WARM SPRINGS ROAD</li>
		<li>ARCO AM/PM @ THE M-RESORT & CASINO<br />ST. ROSE PARKWAY</li>
		<li>SPANISH HILLS C-STORE & TAVERN</li>
		<li>CHEVRON-A&W CO-BRAND<br />LAKE MEAD AND LOSEE ROAD</li>
		<li>FILLS C-STORE AND CARWASH<br />DURANGO AND ARBY</li>
		<li>FILLS C-STORE AND CARWASH<br />RAINBOW AND BADURA</li>
		<li>FILLS C-STORE AND CARWASH<br />BLUE DIAMOND AND VALLEY VIEW</li>
		<li>FILLS C-STORE AND CARWASH<br />SILVERADO RANCH AND BERMUDA</li>
		<li>VONS FUEL ISLAND  AND C-STORE<br />MARYLAND & TWAIN</li>
		<li>PIT STOP CHEVRON STATION<br />STEPHANIE AND HORIZON RIDGE</li>
		<li>TROP STOP 12 DISPENSER CANOPY AND C STORE ADDITION</li>
	</ul>
	<h3>Other Nevada Locations</h3>
	<ul class="bullet_list">
		<li>LOVES TRAVEL STORE TRUCK STOP<br />US-93 AND INTERSTATE 15 APEX EXIT</li>
		<li>PRIMM VALLEY TRAVEL CENTER & 15 DISPENSER CHEVRON<br />PRIMM, NEVADA</li>
		<li>TERRIBLE HERBST AM/PM<br /> MESQUITE, NEVADA</li>
		<li>TERRIBLE HERBST AM/PM<br /> LAUGHLIN, NEVADA</li>
		<li>HORIZON MARKETPLACE<br />PAHRUMP NV</li>
		<li>TERRIBLE HERBST CHEVRON @ TERRIBLE’S TOWN<br />PAHRUMP, NEVADA</li>
		<li>TERRBLE HERBST CHEVRON @ TERRIBLE’S LAKESIDE RESORTn<br />PAHRUMP, NEVADA</li>
  </ul>
	<h3>California Locations</h3>
	<ul class="bullet_list">
		<li>TERRIBLE HERBST AM/PM<br />BARSTOW, CALIFORNIA</li>
	</ul>
	<h3>Arizona Locations</h3>
	<ul class="bullet_list">
		<li>TERRIBLE HERBST TEXACO, CARWASH, SELF SERVE WASH & LUBE<br/>BULLHEAD CITY, ARIZONA</li>
		<li>TERRIBLE HERBST AM/PM<br /> KINGMAN, ARIZONA</li>
	</ul>  
</div>
<% content_for :sidebar do %>
  <%= render :partial => 'home/convenience_sidebar' %>
<% end %>