<% content_for :banner do %>
  <%= render :partial => 'home/privacy_banner' %>
<% end %>
<div class="full_20_wrap"><h1>Privacy Statement & Terms of Use</h1>
<p>  All website material contained on this website including but not limited to:  graphic arts, 
  photography images, text, email addresses, as well as all of the site content is the sole 
  property of Bentar Development, Inc.  Any use of content or reproduction of any content
  on this website is strictly prohibited.  Any use of content or questions regarding content on 
  this website shall be submitted in writing to Bentar Development.  All website content
  is subject to change without notification.</p>

<p>
  We are committed to securing and protecting the privacy of all of our website visitors.  By submitting your information on our contact page you can be assured your information will never be shared with third party companies or individuals.  It is our policy not to make personal information available to anyone that is not a direct employee of Bentar Development.</p>

  <p>We will revise and update the policies on this statement as our practices change, or as we develop better ways to make your web visit more secure and positive.  You are encouraged to visit this page upon your site visit to be sure you are current with our terms of use and privacy statement. 
  
</p></div>