<div class="full_20_wrap">
  <h1>Editing Project</h1>
  <%= render :partial => 'projects/form', :locals => {:categories => @categories} %>
  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>