<div class="footer grid_12 alpha omega round2">
  <%= render :partial => 'layouts/footer_nav' %>
  <div class="three_boxes_footer"></div>
   <p class="c2top right"><%= link_to "Site Design by<br/> Cube 2 Media", "http://www.cube2media.com", :target => "_blank" %></p>
</div>