<div id="main_nav">
  <ul id="main_nav_ul" class="nav_ul">
    <li class="main_nav_li nav1 highlight"><%= link_to "Home", root_path, :id => "home" %></li>
    <li class="main_nav_li nav2 highlight"><%= link_to "Projects", projects_path, :id => "projects" %></li>
    <li class="main_nav_li nav3 highlight"><%= link_to "Services", services_path, :id => "services" %></li>
    <li class="main_nav_li nav4 highlight last"><%= link_to "Contact Us", contact_path, :id => "contact" %></li>
  </ul>
</div>